.menuborder{
border-bottom:1px solid #fff;
padding: 10px;
}
.logoimage{
  width: 40px;
  margin-top: 20px;
margin-left: 60px;
}
.logotext{
  position: absolute;
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.topnav {
  overflow: hidden;
  margin-top: 0;

}
@media only screen and (min-width:568px) {
.logoimage{
  margin-top: 10px;
margin-left: 35%;
 }
}
@media only screen and (min-width:1200px) {
.logoimage{
  margin-top: 10px;
  margin-left: 0;
 }
}
@media only screen and (min-width:768px) {
.logoimage{
  margin-top: 10px;
  margin-left: 35%;
 }
}
@media only screen and (min-width:1024px) {
.logoimage {
margin-left: -9px;
  }
}

@media only screen and (min-width:1200px) {
.logotext{
  font-size:20px;
  }
}


.topnav a{
  float: left;
  display: block;
  color:#fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 50px;
  padding-bottom: 5px;
}
@media only screen and (min-width:1200px) {
.topnav a {
font-size:17px;
padding: 19px 0;
  }
}

@media only screen and (min-width:667px) {
.topnav a {
font-size:17px;
padding: 19px 0;
  }
}

@media only screen and (min-width:1024px) {
.topnav a {
  margin:3px -33px 0 0;
  }
}
@media only screen and (min-width:768px) {
.topnav a {
font-size:17px;
padding: 19px 0;
margin-left: 60px;
  }
}
.topnav a:hover {
  color: #ffa500;
}
.topnav a.active{
  color: #ffa500;
}
.topnav .icon {
  display:none;
  font-size: 25px;
  color: #ffa500;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin-left: 0;
  }
}
.createaccount{
  text-align: center;
}
.createbutton{
  margin-top: 10px;
  width: 140px;
  height: 30px;
  background-color: Transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}
@media only screen and (min-width:1200px) {
.createbutton{
margin-top:19px;
margin-left: 57px;
  }
}
.signin {
  background-color: #3adec6;
  border: 1px solid #3adec6;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  margin-left: 8px;
  font-size: 15px;
}
