body {
  background: #262626;
  color: #fff;
  font-size: 30px;
}

img {
  max-width: 100%;
}

.site-banner {
  width: auto;
  height: 735px;
  background: url("../img/site-banner.jpg") no-repeat 80% 0;
}
