.top-categories-container{
padding:40px 0;
background-color: #1bbfa4;
line-height: 1;

}

.container::after {
    content:"";
    display:table;
    clear: both;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
}
.top-categories-heading{
  text-align: center;
  font-size: 20px;
padding-bottom: 30px;
}
.cate1{
  padding:7px;
  background-color: #ffb912;
  font-size: 15px;
  height:30px;
  border-radius: 3px;
  text-align: left;

}

@media only screen and (min-width:768px) {
.cate1 {
  font-size: 15px;
  }
}

@media only screen and (min-width:1200px) {
.cate1 {
  font-size: 16px;
  margin-left: 30px;
  }
}

.subtext a {
  display: block;
  margin: 5px 0;
  font-size: 15px;
  padding-left: 40px;
  letter-spacing: normal;
  text-decoration: none;
}

@media only screen and (min-width:1200px) {
.subtext a {
    margin: 10px 0;
    font-size:13px;
    padding-left:40px;
  }
}

button{
  background-color: Transparent;
  border-radius: 1px;
  border: 1px solid #fff;
  width: 200px;
  height: 30px;
}
.btn-all-categories{
  text-align: center;
margin-top: 40px;
  color: #fff;
  font-size: 14px;
}
